* {
  font-family: "Century Gothic", "Avant Garde", Helvetica, sans-serif;
}

body {
  background: white;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  box-shadow: 10px 10px 5px #000;
  margin: 0 auto;
  width: 800px;
}

header img {
  float: left;
  margin-right: 2%;
}

header h1 {
  color: orange;
  font-style: italic;
  text-shadow: 2px 2px black;
}

article h2 {
  font-size: 170%;
  line-height: 50%;
}

article h2::first-letter {
  font-size: 200%;
}

.content {
  font-size: 150%;
  line-height: 50%;
}

a {
  color: orange;
  font-weight: bold;
}

a:hover {
  color: green;
}

li {
  margin-bottom: 0.75%;
}

footer {
  font-size: 75%;
  text-align: center;
}