* {
  font-family: 'Century Gothic', 'Avant Garde', Helvetica, sans-serif;
}

html {
  background-image: url(../images/bats.gif);
}

/* Body */

body {
  background: white;
  border: 3px solid black;
  box-shadow: 0 0 20px 5px black;
  margin: 0 auto;
  width: 800px;
}

/* Header */

header {
  background: linear-gradient(45deg, white, orange 75%, black);
  border-bottom: 2px solid black;
}

 header img {
  float: left;
  margin: 2%;
}

header h1 {
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 10px;
}

header h2 {
  margin-top: 10px;
}

/* Main */

main {
  clear: both;
}

.h-menu ul {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.h-menu li {
  float: left;
  margin: 0;
}

.h-menu li a {
  color: white;
  background-color: black;
  display: block;
  font-weight: normal;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  width: 144px;
}

.h-menu li a:hover {
  color: black;
  background-color: grey;
}

#l-sidebar {
  float: left;
  width: 160px;
}

#l-sidebar ul {
  list-style-type: none;
  padding-left: 15px;
}

#l-sidebar li {
  background-color: orange;
  border: 3px solid black;
  font-weight: bold;
  margin-bottom: 4%;
  padding: 5px;
  width: 144px;
}

#l-sidebar li a {
  color: black;
  display: block;
  text-decoration: none;
  width: 144px;
}

#l-sidebar li a:hover {
  color: green;
  text-decoration: underline;
}

#r-sidebar {
  background-color: #F5DEB3;
  float: right;
  width: 210px;
}

#r-sidebar h3 {
  font-size: 100%;
  margin: 0 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#r-sidebar ul {
  list-style-type: none;
  margin-top: 5px;
  padding-left: 0;
}

#r-sidebar figure {
  margin-left: 20px;
}

#r-sidebar a {
  color: black;
  font-size: 15px;
}

#r-sidebar a:hover, a:focus {
  color: green;
}

.content {
  float: left;
  margin-left: 32px;
  width: 390px;
}

.content h2 {
  font-size: 170%;
  margin: 10px 0;
}

.content img {
  float: left;
}

.content p {
  float: left;
  margin-top: 0;
  padding-left: 15px;
  width: 200px;
}

/* Footer */

footer {
  background: linear-gradient(45deg, black, orange 25%, white);
  border-top: 1px solid black;
  clear: both;
  font-size: 75%;
  margin-bottom: 0;
  padding-bottom: 2px;
  padding-top: 15px;
  text-align: center;
}